@import 'styles/variables.scss';

#FindRunwaysButton {
    margin: 4%;
}

.shadow-lg {
    width:100%; /*full width*/
    display:table; /*acts like a table*/
}

h4, h3, h2{
    vertical-align: middle; /*middle centred*/
    display: table-cell; /*acts like a table cell*/
}

.output-label {
    color: white;
}

#runway-button-group {
    min-height: 100px;
}

#airportID-output{
    width: 66.7%;
}

form, input {
    width: 35%;
    display: table-cell;
}

.card-header {
    color: white;
}

#IDContainer {
    margin-top: 1%;
}

#QueryButton {
    margin-bottom: 3%;
    margin-top: 5%;
}