<layout-dashboard><sb-dashboard-head title="Runway Query" [hideBreadcrumbs]="true"></sb-dashboard-head>

  <div class="row d-flex justify-content-center mt-5">
    <div class="col-lg-5 text-center p-1 ml-5">
      <div class="card text-center ">
        <div class="card-header bg-dark text-center">
          Input Runway Info
        </div>
        <div class="card-body border border-dark">
          <div class="row d-flex justify-content-center">
            <form [formGroup]="form" (ngSubmit)="findRunways()" class="text-center">
              <div class="form-group " [formGroup]="form">
                <label for="airportInput">Enter Airport ID:</label>
                <div class="row d-flex justify-content-center">
                  <input type="text" formControlName="airportInput" id="airportID" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['airportInput'].errors }" />
                  <div *ngIf="submitted && f['airportInput'].errors" class="invalid-feedback">
                    <div *ngIf="f['airportInput'].errors['required']">Airport ID is required</div>
                    <div *ngIf="f['airportInput'].errors['maxlength']">Airport ID must be less than 5 characters.</div>
                    <div *ngIf="f['airportInput'].errors['minlength']">Airport ID must be at least 2 characters</div>
                  </div>
                </div>
              </div> 
              <div class="form-group justify-content-center" [formGroup]="form">
                <button type="submit" [disabled]="runwaysLoading"  id="FindRunwaysButton" class="btn btn-outline-dark active text-center">
                <span *ngIf="runwaysLoading" class="spinner-border spinner-border-sm mr-1"></span>
                  Find Runways
                  </button>
              </div>  
            </form>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-md-7">
                <label>Select Takeoff Runway:</label>
                <div class="card border-1 mb-4" id="runway-button-group"></div>
              </div>  
              <div class= "col-md-5">
                <label for=RunwaySideButton1>Select Runway Starting Side: </label>
                <div class="blank-card mt-2">
                    <button type="button" id="RunwaySideButton1" class="btn btn-outline-dark text-center side-button">Side 1</button>
                    <button type="button" id="RunwaySideButton2" class="btn btn-outline-dark text-center side-button">Side 2</button>
                </div>
              </div>
            </div>
          <button type="button" id="QueryButton" class="btn btn-outline-dark active text-center" (click)="queryAirport()">Query</button>
        </div>
      </div>  
    </div>  

    <!-- TODO: Make this output as angular variable mj -->
    <div class="col-lg-5">
      <div class="row d-flex justify-content-center">
        <div id="airportID-output">
          <div class="w-100 shadow-lg text-center bg-dark airport-output rounded p-2" id="IDContainer">
            <h2 class="output-label">Airport ID: {{runwayConditions.airportID.toUpperCase()}}</h2>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4">
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-dark rounded p-3">
              <h3 class="output-label p-0 m-0">Temperature</h3>
            </div>
          </div> 
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-dark rounded p-3">
              <h3 class="output-label p-0 m-0">Pressure Altitude</h3>
            </div>
          </div> 
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-dark rounded p-3">
              <h3 class="output-label p-0 m-0">Precipitation</h3>
            </div>
          </div> 
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-dark rounded p-3">
              <h3 class="output-label p-0 m-0">Head Wind</h3>
            </div>
          </div> 
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-dark rounded p-3">
              <h3 class="output-label p-0 m-0">Runway Length</h3>
            </div>
          </div> 
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-dark rounded p-3">
              <h3 class="output-label p-0 m-0">Runway Type</h3>
            </div>
          </div> 
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-dark rounded p-3">
              <h3 class="output-label p-0 m-0">Slope</h3>
            </div>
          </div> 
        </div>
        <div class="col-lg-4">
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-white rounded p-3">
              <div class="row d-flex justify-content-center">
                <h3 id="temp-output" class="m-0 p-0" *ngIf="runwayConditions.temp !== null">{{runwayConditions.temp.toFixed(1)}}</h3>
                <h3 class="m-0 p-0">&nbsp;&deg;C</h3>
              </div>
            </div>
          </div> 
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-white rounded p-3">
              <div class="row d-flex justify-content-center">
              <h3 id="pressure-altitude-output" class="m-0 p-0" *ngIf="runwayConditions.pressureAltitude !== null">{{(runwayConditions.pressureAltitude*3.28084).toFixed(1) }}</h3>
              <h3 class="m-0 p-0">&nbsp;ft</h3>
              </div>
            </div>
          </div> 
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-white rounded p-3">
              <div class="row d-flex justify-content-center">
                <h3 id="precipitation-output" class="m-0 p-0" *ngIf="runwayConditions.precipitation !== null">{{runwayConditions.precipitation.toFixed(2)}}</h3>
                <h3 class="m-0 p-0">&nbsp;in</h3>
              </div>
            </div>
          </div> 
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-white rounded p-3">
              <div class="row d-flex justify-content-center">
                <h3 id="headwind-output" class="m-0 p-0" *ngIf="runwayConditions.headWind !== null">{{runwayConditions.headWind.toFixed(2)}}</h3>
                <h3 class="m-0 p-0">&nbsp;kts</h3>
              </div>
            </div>
          </div> 
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-white rounded p-3">
              <div class="row d-flex justify-content-center">
                <h3 id="runway-length-output" class="m-0 p-0" *ngIf="runwayConditions.runwayLength !== null">{{(runwayConditions.runwayLength*3.28084).toFixed(0)}}</h3>
                <h3 class="m-0 p-0">&nbsp;ft</h3>
              </div>
            </div>
          </div> 
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-white rounded p-3 m-0">
              <div class="row d-flex justify-content-center">
                <h3 id="runway-type-output" class="m-0 p-0">{{runwayConditions.runwayType}}&nbsp;</h3>
              </div>
            </div>
          </div> 
          <div class="row d-flex justify-content-center">
            <div class="shadow-lg airport-output text-center bg-white rounded p-3 h-100">
              <div class="row d-flex justify-content-center">
                <h3 id="slope-output" class="p-0 m-0" *ngIf="runwayConditions.runwayLength !== null">{{runwayConditions.slope.toFixed(3)}}</h3>
                <h3 class="m-0 p-0">&deg;</h3>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</layout-dashboard>
