<layout-dashboard><sb-dashboard-head title="Airport Information" [hideBreadcrumbs]="true"></sb-dashboard-head>

  <div class="d-flex justify-content-center">
    <div class="col-lg-5 text-center">
        <label for="airportID">Airport ID:</label><br>
        <input type="text" id="airportID" name="airportID" value=""><br>
        <button type="button" id="FindRunwaysButton" class="btn btn-outline-dark active text-center" (click)="findRunways()">Find Runways</button><br><br>
        <div class="row d-flex justify-content-center">
          <div class="col-md-7">
            <label>Select Takeoff Runway:</label>
            <div class="card border-1 my-4" id="runway-button-group"></div>
          </div>  
        </div>
        <div class="row d-flex justify-content-center">
          <div class= "col-md-5">
            <label for=RunwaySideButton1>Select Runway Starting Side: </label>
            <div class="blank-card mt-3">
                <button type="button" id="RunwaySideButton1" class="btn btn-outline-dark text-center side-button">Side 1</button>
                <button type="button" id="RunwaySideButton2" class="btn btn-outline-dark text-center side-button">Side 2</button>
            </div>
          </div>  
        </div>
      <button type="button" id="QueryButton" class="btn btn-outline-dark active text-center mt-5" (click)="queryAirport()">Query</button>
      </div>
      <div class="blank-card col-lg-5">
        <div class="row d-flex justify-content-center">
          <div id="airportID-output">
            <div class="w-100 shadow-lg text-center bg-dark rounded p-2">
              <h2 id="AirportIDLabel" class="output-label">Airport ID: </h2>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-4">
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-dark rounded p-3">
                <h3 class="output-label">Temperature</h3>
              </div>
            </div> 
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-dark rounded p-3">
                <h3 class="output-label">Pressure Altitude</h3>
              </div>
            </div> 
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-dark rounded p-3">
                <h3 class="output-label">Precipitation</h3>
              </div>
            </div> 
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-dark rounded p-3">
                <h3 class="output-label">Head Wind</h3>
              </div>
            </div> 
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-dark rounded p-3">
                <h3 class="output-label">Runway Length</h3>
              </div>
            </div> 
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-dark rounded p-3">
                <h3 class="output-label">Runway Type</h3>
              </div>
            </div> 
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-dark rounded p-3">
                <h3 class="output-label">Slope</h3>
              </div>
            </div> 
          </div>
          <div class="col-lg-4">
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-white rounded p-3">
                <h3 id="temp-output">&nbsp;</h3>
              </div>
            </div> 
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-white rounded p-3">
                <h3 id="pressure-altitude-output">&nbsp;</h3>
              </div>
            </div> 
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-white rounded p-3">
                <h3 id="precipitation-output">&nbsp;</h3>
              </div>
            </div> 
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-white rounded p-3">
                <h3 id="headwind-output">&nbsp;</h3>
              </div>
            </div> 
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-white rounded p-3">
                <h3 id="runway-length-output">&nbsp;</h3>
              </div>
            </div> 
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-white rounded p-3">
                <h3 id="runway-type-output">&nbsp;</h3>
              </div>
            </div> 
            <div class="row d-flex justify-content-center">
              <div class="shadow-lg text-center bg-white rounded p-3">
                <h3 id="slope-output">&nbsp;</h3>
              </div>
            </div> 
          </div>
        </div>
      </div>
  </div>
</layout-dashboard>
