@import 'styles/variables.scss';

#FindRunwaysButton {
    margin: 4%;
}

.shadow-lg {
    width:100%; /*full width*/
    display:table; /*acts like a table*/
}

h3, h2{
    vertical-align:middle; /*middle centred*/
    display:table-cell; /*acts like a table cell*/
}

.output-label {
    color: fade-out($white, 0.5)
}

#runway-button-group {
    min-height: 100px;
}

#airportID-output{
    width: 66.7%;
}

form {
    width: 30%;
    display: table-cell;
}

input {
    width: 30%;
    display: table-cell;
}