<layout-dashboard><sb-dashboard-head title="Add Profiles" [hideBreadcrumbs]="true">
</sb-dashboard-head>

<div class="container" id="main-container">
    <div class="row d-flex justify-content-center ">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header text-center">
                    Choose Measurement System
                </div>
                <div class="btn-group">
                    <button class="btn btn-dark active">Imperial</button>
                    <button class="btn btn-dark">Metric</button>
                </div>
            </div>
            <div class="card top-card-left">
                <div class="card-header text-center">
                    Specify Tank Fill
                </div>
                <ul class="list-group list-group-flush align-center">
                    <li class="list-group-item">
                        <div class="form-check">
                            <label class="form-check-label">
                              Internal Tanks
                            </label>
                        </div>
                        <div class="row d-flex">
                            <input type="range" class="range-input" id="InternalTankRange">
                            <Label class="rangeVal" id="InternalTankVal">&nbsp;50%</Label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="DropTankCheck" id="DropTankCheck">
                            <label class="form-check-label" for="DropTankCheck">Drop Tanks</label>
                        </div>
                        <div class="row d-flex">
                            <input type="range" class="range-input" id="DropTankRange">
                            <label class="rangeVal" id="DropTankVal">&nbsp;50%</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="TipTankCheck">
                            <label class="form-check-label" for="TipTankCheck">
                                Tip Tanks
                            </label>
                        </div>
                        <div class="row d-flex">
                            <input type="range" class="range-input" id="TipTankRange">
                            <Label class="rangeVal" id="TipTankVal">&nbsp;50%</Label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card top-card">
                <div class="card-header text-center">
                    Pilot Weights
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="pilot1Check">
                            <label class="form-check-label" for="pilot1Check">
                              Pilot 1
                            </label>
                        </div>
                        <div>
                            <Label>Enter Weight: </Label>
                            <input class="PilotWeightInput" type="text" id="pilot1Weight">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="pilot2Check">
                            <label class="form-check-label" for="pilot2Check">
                              Pilot 2
                            </label>
                        </div>
                        <div>
                            <Label>Enter Weight: </Label>
                            <input class="PilotWeightInput" type="text" id="pilot2Weight">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card new-component-card h-50">
                <div class="card-header text-center">
                    Add new attachment
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-5 text-center">
                        <label for="ComponentName">Name:</label><br>
                        <input type="text" id="AttachmentName" name="AttachmentName" value=""><br>
                        <label for="ComponentMass">Mass:</label><br>
                        <input type="text" id="AttachmentMass" name="AttachmentMass" value=""><br>
                    </div>
                    <div class="col-lg-5 text-center my-auto">
                        <button class = "btn btn-outline-dark active" (click)="createAttachment()" id="CreateNewButton">Create Attachment</button>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class ="row d-flex justify-content-center">
        <div class="col-lg-10">
            <div class="card text-center">
                <div class="card-header">
                    Select Attachments
                </div>
                <div class="row text-center">
                    <div class="col-lg-4">
                            <h2>Unused Attachments</h2>
                            <div 
                            cdkDropList 
                            #attachmentList="cdkDropList" 
                            [cdkDropListData]="Attachments"
                            [cdkDropListConnectedTo]="[doneAttachmentList]" 
                            class="attachment-list" 
                            (cdkDropListDropped)="onDrop($event)">
                                <div class="attachment-block" *ngFor="let attachmentList of Attachments" cdkDrag>{{toImperialString(attachmentList)}}</div>
                            </div>
                    </div>
                    <div class="col-lg-4">
                            <h2>Attachments Used</h2>
                            <div 
                            cdkDropList 
                            #doneAttachmentList="cdkDropList" 
                            [cdkDropListData]="AttachmentsUsed"
                            [cdkDropListConnectedTo]="[attachmentList]" 
                            class="attachment-list" 
                            (cdkDropListDropped)="onDrop($event)">
                                <div class="attachment-block" *ngFor="let attachmentsUsed of AttachmentsUsed" cdkDrag>{{toImperialString(attachmentsUsed)}}</div>
                            </div>
                    </div>
                    <div class="col-lg-3 text-center my-auto">
                        <button class = "btn btn-outline-dark active" (click)="openSaveModal()" id="SaveProfileButton">Save Profile</button>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displaySaveStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">What would you like to name this profile?</h4>
        </div>
        <div class="modal-body">
          <label for="ProfileName">Profile Name:</label><br>
          <input type="text" id="ProfileName" name="ProfileName" value=""><br> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark active" (click)="closeSaveModal(false)">Close</button>
         <button type="button" class="btn btn-outline-dark active" (click)="closeSaveModal(true)">Save</button>
        </div>
      </div>
    </div>
</div>

</layout-dashboard>
