<!DOCTYPE html>
<html>
<body>

<form action="/action_page.php">
  <label for="tmass">Takeoff Mass:</label><br>
  <input type="text" id="tmass" name="tmass" value=""><br>
  <label for="lmass">Landing Mass:</label><br>
  <input type="text" id="lmass" name="lmass" value=""><br>
  <label for="temp">Temp:</label><br>
  <input type="text" id="temp" name="temp" value=""><br>
  <label for="drag">Drag:</label><br>
  <input type="text" id="drag" name="drags" value=""><br>
  <label for="slope">Slope:</label><br>
  <input type="text" id="slope" name="slope" value=""><br>
  <label for="friction">Friction:</label><br>
  <input type="text" id="friction" name="friction" value=""><br>
  <label for="runwayType">Runway Type:</label><br>
  <input type="text" id="runwayType" name="runwayType" value=""><br>
  <label for="psi">PSI:</label><br>
  <input type="text" id="psi" name="psi" value=""><br>
  <label for="wind">Wind:</label><br>
  <input type="text" id="wind" name="wind" value=""><br>
  <label for="aircraftType">Aircraft Type:</label><br>
  <input type="text" id="aircraftType" name="aircraftType" value=""><br>
</form> 

<select name="loadouts" id="loadouts">
</select>

<button class = "datasetButton btn btn-outline-dark active" (click)="submit()" id="Weather">Submit</button>
            
<div id="output" class="card"> <!-- Contains card for classification output-->
  <span  class="border" id="outputContainer"></span>
</div>
</body>
</html>