<!DOCTYPE html>
<html>
<body>
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Aircraft Performance Calculator</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button type="button"  (click)="logout()" class="btn btn-link">
          Logout 
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<div class="container">
  <div class="row">
    <div class="col-md">
    <form action="/action_page.php">
      <label for="tmass">Takeoff Mass:</label><br>
      <input type="text" id="tmass" name="tmass" value=""><br>
      <label for="lmass">Landing Mass:</label><br>
      <input type="text" id="lmass" name="lmass" value=""><br>
      <label for="temp">Temp:</label><br>
      <input type="text" id="temp" name="temp" value=""><br>
      <label for="drag">Drag:</label><br>
      <input type="text" id="drag" name="drags" value=""><br>
      <label for="slope">Slope:</label><br>
      <input type="text" id="slope" name="slope" value=""><br>
      <label for="friction">Friction:</label><br>
      <input type="text" id="friction" name="friction" value=""><br>
      <label for="runwayType">Runway Type:</label><br>
      <input type="text" id="runwayType" name="runwayType" value=""><br>
      <label for="psi">PSI:</label><br>
      <input type="text" id="psi" name="psi" value=""><br>
      <label for="wind">Wind:</label><br>
      <input type="text" id="wind" name="wind" value=""><br>
      <label for="aircraftType">Aircraft Type:</label><br>
      <input type="text" id="aircraftType" name="aircraftType" value=""><br>
    </form> 
    
    <select class = "btn btn-outline-dark active" name="profiles" id="profiles">
      <option text="None" value="None">None</option>
    </select>
    
    <button class = "btn btn-outline-dark active" (click)="submit()" id="submit">Submit</button>
    
    <button type="button" class="btn btn-outline-dark active" (click)="openSaveModal()" id="save">Save</button>

    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displaySaveStyle}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">What would you like to name this profile?</h4>
          </div>
          <div class="modal-body">
            <label for="profileName">Profile Name:</label><br>
            <input type="text" id="profileName" name="profileName" value=""><br> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark active" (click)="closeSaveModal(false)">Close</button>
           <button type="button" class="btn btn-outline-dark active" (click)="closeSaveModal(true)">Save</button>
          </div>
        </div>
      </div>
    </div>
                
    <div id="output" class="card">
      <span  class="border" id="outputContainer"></span>
    </div>
  </div>
  <div class="col-md text-center">
    <form action="/action_page.php">
      <label for="airportID">Airport ID:</label><br>
      <input type="text" id="airportID" name="airportID" value=""><br>
      </form>
    <button type="button" class="btn btn-outline-dark active text-center" (click)="queryWeather()">Query</button>
  </div>
  </div>
  </div>

</body>
</html>