<layout-dashboard><sb-dashboard-head title="Admin" [hideBreadcrumbs]="true">
</sb-dashboard-head>

<div id="main-container">
    <div class="row" id="firstrow">
        <div class="col-lg-5">
            <div class="card text-center left-card">
                <div class="card-header bg-dark text-center">
                  Activity Log
                </div>
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <button class="btn btn-dark activity-log-button" id="AllButton">All</button>
                        <button class="btn btn-secondary activity-log-button" id="UsernameButton" >By Username</button>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <input class="mt-3" type="text" id="UsernameInput">
                    </div>
                    <div class="row d-flex justify-content-center">
                        <button class="btn btn-dark mt-3 activity-log-button" id="SubmitButton">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayLog}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark d-flex justify-content-center">
          <h1 class="modal-title text-center my-auto">Activity Log</h1>
        </div>
        <div class="modal-body">
            <div class="shadow-md border" id="activity-log-output">
                <div id="pdfData" #pdfData>
                    <table class="table table-bordered">
                        <tr class="table-secondary">
                            <th>Id</th>
                            <th>Username</th>
                            <th>Date</th>
                            <th>Action</th>
                            <th>Input</th>
                            <th>Output</th>
                        </tr>
                        <tr *ngFor="let log of LOG">
                            <th>{{log.id}}</th>
                            <td>{{log.username}}</td>
                            <td>{{log.time}}</td>
                            <td>{{log.action}}</td>
                            <td>{{log.input | json}}</td>
                            <td>{{log.output | json}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark active" (click)="openPDF()">Download PDF</button>
          <button type="button" class="btn btn-outline-dark active" (click)="closeModal()">Close</button>
        </div>
      </div> 
    </div>
  </div>

</layout-dashboard>
