@import 'styles/variables.scss';

.activity-log-button {
    width: 30%;
}

.shadow-md {
    width: 100%;
    min-height: 300px;
    margin-top: 3%;
}

table{
    overflow-y: none;
    overflow-wrap:normal;
    display:block;
    max-width:100%;
    table-layout: fixed;
}

td,th {
    border: black 1px solid;
    text-align: center;
    table-layout: fixed;
    max-width:18% !important;
}

.modal-log {
    position: absolute;
    bottom: 0;
    left: 300px;
    z-index: 10040;
    overflow: none;
    overflow-y: auto;
    max-width: 80% !important;
}

.modal-change {
    position: absolute;
    left: 45%;
    top: 30%;
    overflow: none;
    overflow-y: auto;
    max-width: 20% !important;
}

.modal-dialog {
    max-width: 80% !important;
}

.card-header, .modal-header {
    color: white;
}

#UsernameInput {
    max-width: 25%;
}

.select-user-button {
    max-width: 60%;
}

#GeneratedCodeInput {
    max-width: 20%;
    max-height: 20% !important;
}

#CopyCodeButton {
    max-height: 10%;
}

.bottom-card {
    height: 55%;
}

.top-card {
    height: 40%;
}