<layout-dashboard><sb-dashboard-head title="Calculator" [hideBreadcrumbs]="true"></sb-dashboard-head>

    <div class="col-lg-5 text-center">
        <label for="airportID">Airport ID:</label><br>
        <input type="text" id="airportID" name="airportID" value=""><br>
        <button type="button" id="FindRunwaysButton" class="btn btn-outline-dark active text-center" (click)="findRunways()">Find Runways</button><br><br>
        <div class="row d-flex justify-content-center">
          <div class="col-md-7">
            <label>Select Takeoff Runway:</label>
            <div class="card border-1 my-4" id="runway-button-group"></div>
          </div>  
        </div>
        <div class="row d-flex justify-content-center">
          <div class= "col-md-5">
            <label for=RunwaySideButton1>Select Runway Starting Side: </label>
            <div class="blank-card mt-3">
                <button type="button" id="RunwaySideButton1" class="btn btn-outline-dark text-center side-button">Side 1</button>
                <button type="button" id="RunwaySideButton2" class="btn btn-outline-dark text-center side-button">Side 2</button>
            </div>
          </div>  
        </div>
      <button type="button" id="QueryButton" class="btn btn-outline-dark active text-center mt-5" (click)="queryAirport()">Query</button>
    </div>
    
</layout-dashboard>
