@import 'styles/variables.scss';

#FindRunwaysButton {
    margin: 6%;
}

#runway-button-group {
    min-height: 100px;
    min-width: 250px;
}

form {
    width: 40%;
}

#airportID {
    width: 30%;
}

.modal {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

.radio-label{
  float: left;
  clear: none;
  display: inline;
  padding-left: 5%;
  padding-top: 4%
}

.radio {
  clear: none;
  margin: 0;
  margin-left:5%;
}
.card-header, .modal-header, .output-label {
    background-color: $gray-800;
    color: white;
}
.performance-selection {
    width: 25%;
    margin-inline: 3%;
}

.output-label-block {
    width: 50%;
    margin:0;
    display: table;
}

.output-block {
    width: 40%;
    margin:0;
    display: table;
}

.unit-block, .speed-unit-block {
    width: 10%;
    display: table;
    padding: 2%;
}

.unit-block-big {
    width: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-inline: 2.95%;
    display: table;
}

h2, h3, h4 {
    display: table-cell;
    align-items: center;
}

#RunwayPicture {
    size: 80%;
    margin-top: 1%;
}

#RightColumn {
    margin-left: 3%;
}

#CalculateButton {
    width: 100%;
    height: 11%;
}

#AircraftProfileSelect {
    margin-right: 5%;
    height: 100%;
    width: 50%;
}

.parameter-button {
    width: 40%;
    margin-inline: 5%;
}

.performance-card {
    width: 90%;
    border-right-width: 1.5px;
    border-left-width: 1.5px;
}

.card, .left-card{
    border-color: black;
}

li {
    border-width: 100px;
    border-color: black;
}

.left-card {
    margin-bottom: 12%;
}

.pilot-input {
    margin-block: 2%;
    width: 85%;
}

#MissionTimeInput {
    margin-left: 14%
}

.time-item {
    width:40%;
    margin: 0%;
    padding: 0%;
}

.measurement-button {
    width: 40%;
    margin-inline: 5%;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 1%;
}
.runway-picture {
  position: relative;
  top: 0;
  left: 0;
}
#takeoff-red-line {
  position: absolute;
  top: 47%; 
  height: 4%;
}

#landing-red-line {
  position: absolute;
  top: 47%; 
  right: 60%;
  width: 40%;
  height: 4%;
}

#takeoff-plane {
  position: absolute;
  bottom: 30%;
  max-width: 15%;
  height: auto;
}

#landing-plane {
    position: absolute;
    left: 58%;
    bottom: 40%;
    max-width: 15%;
    height: auto;
    transform: rotate(40deg);
}

.border-td {
    border: black 2px solid;
}


@media print {
    .hide-print {
      display: none !important;
    }

    .show-print {
        display: block !important
    }
}

.print-button-column {
    margin-left: 15%;
}

.print-button-column, #PrintButton {
    margin-top: 0%;
    margin-bottom: 0%;
}

.performance-header-col {
    margin-left: 25%;
}