@import 'styles/variables.scss';

#FindRunwaysButton {
    margin: 6%;
}

#runway-button-group {
    min-height: 100px;
    min-width: 250px;
}

form {
    width: 40%;
}

#airportID {
    width: 30%;
}

.modal {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}


.radio-label{
  float: left;
  clear: none;
  display: inline;
  padding-left: 5%;
  padding-top: 4%
}

.radio {
  clear: none;
  margin: 0;
  margin-left:5%;
}
.card-header, .modal-header, .output-label {
    background-color: $gray-800;
    color: white;
}
.performance-selection {
    width: 25%;
    margin-inline: 3%;
}

.shadow-lg {
    width: 50%;
    margin:0;
    display: table;
}

h2, h3 {
    display: table-cell;
    align-items: center;
}

#RunwayPicture {
    width: 100%;
    height: 100%
}

img {
    margin-left: 10%;
}

#CalculateButton {
    width: 100%;
    height: 11%;
}

#AircraftProfileSelect {
    margin-right: 5%;
    height: 100%;
    width: 50%;
}

.parameter-button {
    width: 40%;
    margin-inline: 5%;
}

.performance-card {
    width: 100%;
    border-right-width: 1.5px;
    border-left-width: 1.5px;
}

.card, .left-card{
    border-color: black;
}

li {
    border-width: 100px;
    border-color: black;
}

.left-card {
    margin-bottom: 10%;
}

.pilot-input {
    margin-block: 2%;
    width: 85%;
}

#MissionTimeInput {
    margin-left: 14%
}

.time-item {
    width:40%;
    margin: 0%;
    padding: 0%;
}

.performance-container {
    height: 61%;
    width: 110%;
    border: none;
}
