@import 'styles/variables.scss';

#FindRunwaysButton {
    margin: 4%;
}

#runway-button-group {
    min-height: 100px;
}

form {
    width: 30%;
    display: table-cell;
}

input {
    width: 30%;
    display: table-cell;
}